{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dom Hayes | Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<header class="masthead bg-dark text-white text-center" style="padding-top:5%; padding-bottom:5%">
    <div class="container d-flex align-items-center flex-column">
        <img class="bg-info rounded-circle" src="{% static 'me.jpg' %}" alt="" width="20%" height="20%" />
        <h1></h1>
        <h1 class="masthead-heading text-uppercase mb-0" style="font-size:500%">Dom Hayes</h1>
        <p class="masthead-subheading font-weight-light mb-0" style="font-size:200%">BI Anlayst | Software Engineering |
            Coding</p>
    </div>
</header>
<div class="jumbotron text-center bg-light text-secondary" style="margin:0">
    <p style="font-size:150%">I'm passionate about data and coding and I'm looking for my next opportunity.</p>
    <p></p>
    <p style="font-size:150%">Check out these recent projects:</p>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="padding:2%"></div>
            <div class="col-sm-2" style="padding:2%">
                <a class="btn btn-lg btn-outline-primary" type="button" href="plfs">PLFS</a>
            </div>
            <div class="col-sm-2" style="padding:2%">
                <a class="btn btn-lg btn-outline-primary" type="button" href="cv">CV</a>
            </div>
            <div class="col-sm-4" style="padding:2%"></div>
        </div>
    </div>
    <div class="container" style="margin:50px"></div>
    <p></p>
    <p style="font-size:150%">Reach out to me using the below links to find out more.</p>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="padding:2%"></div>
            <div class="col-sm-2" style="padding:2%">
                <a class="btn btn-lg btn-outline-primary" type="button" href="https://www.linkedin.com/in/dom-hayes-56783b115/">LinkedIn</a>
            </div>
            <div class="col-sm-2" style="padding:2%">
                <a class="btn btn-lg btn-outline-primary" type="button" href="https://github.com/dom-hayes">GitHub</a>
            </div>
            <div class="col-sm-2" style="padding:2%">
                <a class="btn btn-lg btn-outline-primary" type="button" href="mailto:dominickjhayes@gmail.com">Email</a>
            </div>
            <div class="col-sm-3" style="padding:2%"></div>
        </div>
    </div>
</div>
</body>

</html>