{% load static %}
<!DOCTYPE html>

<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <head>
        <title>Dom Hayes</title>
    </head>
    <centre> 
<body>
        <table>
            <tbody>
                <tr>
                    <td>
                        <h1>Dom Hayes</h1>
                        <h3>BI Analyst</h3>
                    </td>
                    <td>
                        <button onclick="window.location.href = 'mailto:dominickjhayes@gmail.com';">Email</button>
                        <button onclick="window.location.href = 'http://www.linkedin.com/in/dom-hayes-56783b115';">LinkedIn</button>
                        <button onclick="window.location.href = 'http://www.github.com/dom-hayes';">GitHub</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>
                        <h2>About Me</h2>
                    </td>
                    <td>
                        <p>I'm based in Derbyshire, UK and am currently learning Software Engineering with HyperionDev.</p>
                        <p>I'm currently a Business Intelegence Analyst working for a FTSE250 merchent bank.</p>
                        <p>I work in a fast paced environment where accuracy and attention to detail are key.</p>
                        <p></p>
                        <p>I'm passionate about supporting a business to make data driven decisions through effective data analysis and storytelling.</p>
                        <p></p>
                        <p>The greatest satisfaction I get from my career is seeing and feeling the impact I have made to my stakeholders and the organisation.</p>
                        <p></p>
                        <p>I'm hoping to build upon my experience in Business Intelegence and tackle other challenges making use of my coding skills.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Skills</h2>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>- Data Analysis and Storytelling</p>
                                        <p>- SQL</p>
                                        <p>- Tableau</p>
                                    </td>
                                    <td> 
                                        <p>- Python</p>
                                        <p>- Business Objects</p>
                                        <p>- Alteryx</p>
                                    </td>
                                    <td> 
                                        <p>- Stakeholder Management</p>
                                        <p>- Project Delivery</p>
                                        <p></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Education</h2>
                    </td>
                    <td>
                        <p><b>University of Lincoln</b> - BA(Hons) Accountancy and Finance</p>
                        <p></p>
                        <p><b>HyperionDev</b> - Software Engineering Bootcamp</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Employment</h2>
                    </td>
                    <td>
                        <p><b>Close Brothers</b> - Business Intelegence Analyst</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Recent</h2>
                        <h2>Projects</h2>
                    </td>
                    <td>
                        <p><a href = "http://www.github.com/dom-hayes/semantic_similarity">Natural Language Processing</a></p>
                        <p></p>
                        <p><a href = "http://www.github.com/dom-hayes/finalCapstone">Inventory Management Program</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</centre>
</html>
